html,
body {
  background: #6f6f6f;
  font-size: 10px;
  margin: 0;
  padding: 0;
}
.screen-reader-text,
.skip-navigation {
  display: inline;
  text-indent: -99999px;
  position: absolute;
  height: 0;
}
.skip-navigation:focus {
  background: #a4a4a4;
  border: solid 0.2rem currentColor;
  color: #2b2b2b;
  display: block;
  font-size: 1.4rem;
  height: auto;
  position: fixed;
  padding: 0.6rem;
  text-indent: 0;
  top: 0;
  left: 0;
}
.mock-carousel {
  background: #2b2b2b;
}
.post-carousel {
  margin: 0 1rem;
  padding: 1rem 0;
  position: relative;
}
@media (min-width: 1200px) {
  .post-carousel {
    margin: 0 auto;
    max-width: 1200px;
  }
}
.controls-parent {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.controls-wrapper {
  display: grid;
  grid-template-columns: minmax(4rem, 10%) 1fr minmax(4rem, 10%);
}
.controls-wrapper .controls {
  display: grid;
  grid-template-columns: minmax(6rem, 10%) 1fr;
}

.carousel-indicators {
  list-style: none;
  display: flex;
  flex-direction: row;
}
.slide {
  color: #a4a4a4;
  display: none;
  font-size: 1.6rem;
  margin: 3.6rem 2rem 7.2rem;
}
.slide.active {
  display: block;
}

.slide h1 {
  font-size: 2.8rem;
  margin: 0;
  padding: 0;
}
.slide .meta {
  font-size: 1.4rem;
  margin: 0.5rem 0 0;
}
.slide span + span {
  margin: 0 0 0 1rem;
}
.slide .subtitle {
  margin: 1.5rem 0 0;
}
